{{- if eq .chezmoi.hostname "saturn" }}
# DisplayLink outputs can fail to render with atomic/modifiers enabled.
env = WLR_DRM_NO_ATOMIC,1
env = WLR_DRM_NO_MODIFIERS,1
{{- end }}
env = HYPRSHOT_DIR,/home/trstruthers/Pictures/Screenshots
